<div id="add_to_cart-<%= @product %>">
<% if @product.quantity.present? && @product.quantity > 0 %>
  <%= link_to("加入购物车", add_to_cart_product_path(@product), :remote => true, :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
<% else %>
  <span class="pull-right btn btn-default">
    已销售一空,无法购买
  </span>
<% end %>
</div>
